{% extends "base.html" %}
{% block head %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Create Chat</title>
<link rel="stylesheet" href="/static/create_chat.css">
{% endblock head %}
{% block content %}

<div class="container">
    <h1 class="text-center mt-5 mb-4">Create Chat</h1>
    <form id="create-form">
        <div class="mb-3">
            <label for="name" class="form-label">Name of chat:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <div id="error-container" class="alert alert-danger mt-4" style="display:none">
        <button id="error-button" class="btn btn-danger">Retry</button>
    </div>
    <div id="success-container" class="alert alert-success mt-4" style="display:none">
        <h2>Chat created successfully.</h2>
    </div>
</div>
<script src = "{{url_for('scripts',path='create_chat.js') }}"></script>
{% endblock %}