{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Follow</title>
    <link rel="stylesheet" href="static/follow.css">
{% endblock head %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Follow/Unfollow</h1>
        <form id="follow-form">
            <div class="mb-3">
                <label for="title" class="form-label">User name</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <button id = "follow_button" type="submit" class="btn btn-primary">Follow</button>
            <button id = "unfollow_button" type="submit" class="btn btn-primary">Unfollow</button>
        </form>
        <div id="error-container" class="alert alert-danger mt-4" style="display:none">
            <h2>Error</h2>
            <button id="error-button" class="btn btn-danger">Retry</button>
        </div>
        <div id="success-follow" class="alert alert-success mt-4" style="display:none">
            <h2>followed successfully.</h2>
        </div>
        <div id="success-unfollow" class="alert alert-success mt-4" style="display:none">
            <h2>unfollowed successfully.</h2>
        </div>
    </div>
    <script src = "{{url_for('scripts',path='follow.js') }}"></script>
{% endblock %}

