{% extends "base.html" %}
{% block head %}
    <title>Main</title>
    <link rel="stylesheet" href="static/index.css">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="page-title">My Social Network</h1>
        <nav class="mt-4">
            <ul class="list-unstyled d-flex justify-content-center">
                <li class="mx-3"><a class="nav-link" href="{{url_for("login_page")}}">Log In</a></li>
                <li class="mx-3"><a class="nav-link" href="{{url_for("create_account")}}">Create Account</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
